include ../config/conf_energy-solutions
mixin energySolutions(arrSupplier, arrGenerator, language)
	- let lang = language
	section.container.energy-solutions#energy-solutions
		article.wrap.energy-solutions__content
			.energy-solutions__child
				each item in arrSupplier
					if lang == 'sp'
						each desc in item.sp
							h1.title.first-alt= `${desc.display}`
							h2.subtitle.first= `${desc.title}`
							ul#supplier.solutions
								each sol in desc.solutions
									li.solutions__item
										img(src=`${pathImg}${sol.icon}`,class="solutions__icon", alt=`${sol.name}`)
										span(class="small first")= `${sol.name}`
										img(src=`${pathImg}icon-arrow.svg`, id=`supplier${sol.name.toLowerCase().split(' ').join('')}`, class="info", alt="info")
										div(id=`${sol.name.toLowerCase().split(' ').join('')}` class="tooltip")
											p.small.light.first-alt !{`${sol.def}`}
					if lang == 'en'
						each desc in item.en
							h1.title.first-alt= `${desc.display}`
							h2.subtitle.first= `${desc.title}`
							ul#supplier.solutions
								each sol in desc.solutions
									li.solutions__item
										img(src=`${pathImg}${sol.icon}`,class="solutions__icon", alt=`${sol.name}`)
										span(class="small first")= `${sol.name}`
										img(src=`${pathImg}icon-arrow.svg`, id=`supplier${sol.name.toLowerCase().split(' ').join('')}`, class="info", alt="info")
										div(id=`${sol.name.toLowerCase().split(' ').join('')}` class="tooltip")
											p.small.light.first-alt !{`${sol.def}`}
			.energy-solutions__child
				each item in arrGenerator
					if lang == 'sp'
						each desc in item.sp
							h1.title.text-alt= `${desc.display}`
							h2.subtitle.first= `${desc.title}`
							ul#supplier.solutions
								each sol in desc.solutions
									li.solutions__item
										img(src=`${pathImg}${sol.icon}`,class="solutions__icon", alt=`${sol.name}`)
										span(class="small text-alt")= `${sol.name}`
										img(src=`${pathImg}icon-arrow-alt.svg`, id=`generator${sol.name.toLowerCase().split(' ').join('')}`, class="info", alt="info")
										div(id=`${sol.name.toLowerCase().split(' ').join('')}dos` class="tooltip")
											p.small.light.first-alt !{`${sol.def}`}
							p.body.text-alt: strong= `${desc.content}`
					if lang == 'en'
						each desc in item.en
							h1.title.text-alt= `${desc.display}`
							h2.subtitle.text-alt= `${desc.title}`
							ul#supplier.solutions
								each sol in desc.solutions
									li.solutions__item
										img(src=`${pathImg}${sol.icon}`,class="solutions__icon", alt=`${sol.name}`)
										span(class="small text-alt")= `${sol.name}`
										img(src=`${pathImg}icon-arrow-alt.svg`, id=`generator${sol.name.toLowerCase().split(' ').join('')}`, class="info", alt="info")
										div(id=`${sol.name.toLowerCase().split(' ').join('')}dos` class="tooltip")
											p.small.light.first-alt !{`${sol.def}`}
							p.body.text-alt: strong= `${desc.content}`