include ../config/conf_energy-solutions
mixin energySolutions
    //- section.container.energy-solutions#energy-solutions
    //-     article.wrap.energy-solutions__content
    //-         .energy-solutions__child
    //-             h1.title.first-alt Elige competitividad y eficiencia
    //-             h2.subtitle.first Suministradora
    //-             ul.solutions
    //-                 each item in SUPPLIER
    //-                     li.solutions__item
    //-                         img(src=`${pathImg}${item.icon}`, class="solutions__icon", alt=`${item.name}`)
    //-                         span(id=`${item.idsupplier}` class="small first")= `${item.name}`
    //-                         include ../components/tooltip
    //-         .energy-solutions__child
    //-             h1.title.text-alt Tu energía en manos de expertos
    //-             h2.subtitle.text-alt Generador
    //-             ul.solutions
    //-                 each item in GENERATOR
    //-                     li.solutions__item
    //-                         img(src=`${pathImg}${item.icon}`, class="solutions__icon", alt=`${item.name}`)
    //-                         span.small.text-alt.solutions__info= `${item.name}`
    //-                         include ../components/tooltip
    //-             p.body.text-alt: strong Creamos la solución precisa para tu empresa, con la seguridad de que tendrás siempre el mejor servicio.