include ../config/conf_managers
mixin managers(arrManagers, language)
    - let lang = language
    section.container.managers#managers
        article.wrap
            each item in arrManagers.heading
                if lang == 'sp'
                    h1.title.first= `${item.titleSp}`
                if lang == 'en'
                    h1.title.first= `${item.titleEn}`
            ul.card-managers
                each item in arrManagers.desc
                    li.card-managers__item
                        .card-managers__position
                            if lang == 'sp' && item.contactTypeSp !== ''
                                .card-managers__tag !{`${item.contactTypeSp}`}
                            if lang == 'en' && item.contactTypeEn !== ''
                                .card-managers__tag !{`${item.contactTypeEn}`}
                            h1.card-managers__name !{`${item.name}<br>${item.lastname}`}
                            if lang == 'sp'
                                h2.card-managers__title= `${item.positionSp}`
                            if lang == 'en'
                                h2.card-managers__title= `${item.positionEn}`
                            .card-managers__contact
                                a(href=`${item.href}`, target="_blank")
                                    img(src=`${pathImg}icon-in-alt.svg`, alt=`likedin - ${item.name}`)
                                if item.email !== ''
                                    a(href=`mailto:${item.email}`)
                                        img(src=`${pathImg}icon-mail-alt.svg`)