include ../config/conf_power-plants
mixin powerPlants(arrPowerPlants, language)
    - let lang = language
    section.container.power-plants#power-plants
        article.wrap.power-plants__content
            each item in arrPowerPlants
                .power-plants__type
                    each title in item.type
                        if lang == 'sp'
                            h1.title.first= `${title.titleSp}`
                        if lang == 'en'
                            h1.title.first= `${title.titleEn}`
                    ul.card
                        each description in item.desc
                            li(class="card__item")
                                img(src=`${pathImg}${description.img}`, class="card__img absolute", alt=`${description.city}`, class="description__img")
                                h1(id=`${description.plantnumber}` class="body text-alt absolute button"): strong !{`${description.city}`}
                                div(id=`${description.cardnumber}` class="card__info absolute")
                                    h1.subtitle.text-alt !{`${description.city}`}
                                    p.small.text-alt !{`${description.ub}`}
                                    h2.small.ligth.text-alt.mbottom--sm !{`${description.prov}`}
                                    if lang == 'sp'
                                        p.small.text-alt: strong Capacidad nominal:
                                    if lang == 'en'
                                        p.small.text-alt: strong Installed capacity:
                                    p.body.ligth.text-alt !{`${description.capacity}`}
                                    if lang == 'sp'
                                        p.small.text-alt: strong Inicio de operaciones:
                                        p.body.light.text-alt !{`${description.startSp}`}
                                    if lang == 'en'
                                        p.small.text-alt: strong Operating since:
                                        p.body.light.text-alt !{`${description.startEn}`}
                                    if lang == 'sp' && description.politicas
                                        <br>
                                        each item in description.politicas
                                            a(href=`${item.document}` target="_blank" rel="noopener" class="small text-alt") !{`${item.name}`}
                                            <br>
                                        //- <br>
                                        //- a(href=`${description.urlSgiAlcance}`, class="small text-alt") Alcance SGI
                                    //- if lang == 'sp' && description.urlSgiPoliticas
                                    //-     <br><br>
                                    //-     a(href=`${description.urlSgiPoliticas}`, class="small text-alt") Política del SG CASS
                                    //-     <br>
                                    //-     a(href=`${description.urlSgiAlcances}`, class="small text-alt") Alcance del SG CASS
                                    //- if lang == 'sp' && description.urlDesempenoAmbiental
                                    //-     <br>
                                    //-     a(href=`${description.urlDesempenoAmbiental}`, class="small text-alt") Desempeño Ambiental
                                    if lang == 'en'
                                        p.small.text-alt: strong Operating since:
                                        p.body.light.text-alt !{`${description.startEn}`}
                                    div(id=`${description.closenumber}` class="iclose")