header.content.header#header-en
    .header__content.header__left
        .header__child
            img(src=`${pathImg}saavi.svg`, alt="logo saavi", class="header__logo")
    .header__content.header__middle
    .header__content.header__right
        .icon-hamburguer#js-icon-hamburguer-en: .icon-hamburguer__line
        a(href="index.html", class="icon-lang") SP
        nav.nav#js-nav-en
            ul.menu
                each item in MENU_EN
                    li.menu__item: a(href=`${item.href}`, class="menu__link")= `${item.content}`
                li.menu__item.menu__socials
                    each item in SOCIALS
                        a(href=`${item.href}`, class="menu__icon")
                            img(src=`${pathImg}${item.icon}`, alt=`${item.alt}`)